.blue_bar{
    background-color: blue;
    padding: 20px;
    
    img{
        position: absolute;
        bottom: 38%;
        left: 1%;
    }
}
.description{
    width:  90%;
    margin: auto;
    padding: 40px 0px;
}
.single-comic{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    width: 66%;
    margin: auto;
    img{
        margin-top: 12%;
    }
    }
    h1{
        font-size: 24px;
    }
    .green-bar{
        background-color: green;
        color:white;
       
        
        margin: 5px auto;
        padding: 5px;
        display: flex;
        
    }

