.blue_bar{
    background-color: blue;
    padding: 20px;
    
    img{
        position: absolute;
        bottom: 38%;
        left: 1%;
    }
}
.description{
    width:  90%;
    margin: auto;
    padding: 40px 0px;
}
.single-comic{
    display: flex;
    margin-top: 6%;
    img{
        margin-top: 12%;
    }
    }

